@media only screen and (max-width: 768px) {
    .container-papagaios {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 70px auto 10px;
        padding: 0px 20px;
    }

    .container-papagaios select{
        width: 100%;
        height: 50px;
        padding: 10px;
        font-size: 18px;
        margin: 15px 0px;
    }

    .container-papagaios>span {
        margin: 20px 0px;
        font-size: 20px;
        text-transform: capitalize;
    }

    .container-papagaios h3 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .container-papagaios div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px auto;
        padding-bottom: 10px;
        border-bottom: 1px solid #c4c4c4;
    }

    .container-papagaios div span {
        font-size: 22px;
    }

    .container-papagaios div input {
        width: 50px;
        height: 30px;
    }

    .container-papagaios button {
        width: 100%;
        height: 40px;
        margin: 30px auto 30px;
        border: none;
        background-color: #773ed4;
        font-size: 20px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .container-papagaios button:hover {
        background-color: #7441c7dc;
    }

    .container-papagaios .papagaios-modal-load{
        width: 100vw;
        height: 100vh;
        z-index: 2;
        background-color: #FFFFFF;
        opacity: .8;
        color: #000;
        position: absolute;
        top: 0;
        left: 0;
        visibility: visible;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }
    .container-papagaios .papagaios-modal-loaded{
        display: none;
    }
}